.education-wrapper {
  position: relative;
  padding: 80px 20px;
  text-align: center;
  background: #9ac1ce;
}

.education-heading {
  margin-left: 60px;
  color: #fff;
  text-align: left;
  transition: margin 0.3s;
}

.education-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto 0;
  padding: 40px 0;
  border-radius: 10px;
}

.education-card {
  background: #fff;
  backdrop-filter: blur(10px);
  border-top: 4px solid #2774AE;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px;
  max-width: 750px;
  width: 80%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.education-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.01) !important;
}

.education-icon {
  font-size: 48px;
  color: #2774AE;
}
.education-title {
  font-size: 1.5rem;
  color: #2774AE;
  margin-bottom: 10px;
}
.education-institution {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 5px;
}
.education-major {
  font-size: 1.5rem;
  color: #2774AE;
  margin-bottom: 10px;
}
.education-duration {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 30px;
}
.education-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.education-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.education-details {
  font-size: 0.9rem;
  line-height: 1.5;
  display: inline-block;
  background-color: #D35400;
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  margin: 4px 6px 0 0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.toggle-coursework-button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #2774AE;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.toggle-coursework-button:hover {
  background-color:  #ccc;
}

.toggle-coursework-button:active {
  background-color: #2774AE;
}

@media (max-width: 768px) {
  .education-wrapper {
    padding: 20px 10px;
    margin: 0 auto;
  }
  .education-heading {
    margin-left: 0;
    text-align: center;
    padding-top: 60px;
    margin-bottom: -10px;
  }
  .education-title, .education-major {
    font-size: 1.4rem;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .education-content {
    width: 90%;
    padding: 20px;
  }
  .education-card {
    width: 90%;
    padding: 10px;
  }

  .education-icon {
    font-size: 36px;
  }
  .education-details-container {
    display: flex !important;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px !important;
    width: 90%;
    margin: auto;
  }
  .education-details {
    font-size: 0.85rem;
    margin-bottom: 10px;
    margin: auto;
  }
  .toggle-coursework-button {
    display:  inline-block;
  }
}