.about-wrapper {
  text-align: center;
  padding: 80px 20px;
  position: relative;
}

.quote-block {
  position: relative;
  margin: 2rem auto;
  max-width: 70%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2rem;
  overflow: hidden;
  animation: none;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  transition: 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.quote-block.show {
  animation: fadeInUp 1s ease forwards;
  opacity: 1;
}

.quote-corner-frame {
  position: relative;
  padding: 0.5rem;
}

.quote-corner-frame::before,
.quote-corner-frame::after,
.corner-br-orange,
.corner-br-blue {
  transition: all 0.3s ease;
}

.quote-corner-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-top: 3px solid #3498db;
  border-left: 3px solid #3498db;
}

.quote-corner-frame::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #e67e22;
  border-left: 3px solid #e67e22;
}

.corner-br-orange {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #e67e22;
  border-right: 3px solid #e67e22;
}

.corner-br-blue {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #3498db;
  border-right: 3px solid #3498db;
}

.quote {
  font-size: 1.4rem;
  font-style: italic;
  color: #fff;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.author {
  text-align: center;
  font-size: 1rem;
  color: #ccc;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 1.2rem;
  color: #ddd;
  margin-top: 1rem;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.quote-corner-frame:hover::before,
.quote-corner-frame:hover .corner-br-orange {
  border-color: #6c5ce7;
}

.quote-corner-frame:hover::after,
.quote-corner-frame:hover .corner-br-blue {
  border-color: #fdcb6e;
}

.about-heading {
  color: #fff;
  padding-bottom: 20px;
  margin-left: 60px;
  text-align: left;
  transition: margin 0.3s;
}

@media (max-width: 768px) {

  .quote-block {
    max-width: 90%;
  }

  .type-animation {
        display: block;
        text-align: center;
        font-size: 2rem;
        padding: 0.5rem 0;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        width: 100%;
        margin: 0 auto;
    }

    .home-content h1 {
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }
}
