.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.social-icon:hover {
    animation: bounce 0.7s;
}

p {
    font-size: 0.85rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .social-icon {
        font-size: 1.5rem;
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-8px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-4px); }
    100% { transform: translateY(0); }
}