.App {
  text-align: center;
  background:
    radial-gradient(circle, rgba(255,255,255,0.15) 1.265px, transparent 1px),
    linear-gradient(45deg, #222 89%, #9ac1ce 11%);
  background-size: 40px 40px, cover;
  font-family: 'Calibri', sans-serif;
}

.slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home-container {
    background:
      radial-gradient(circle, rgba(255,255,255,0.15) 1.75px, transparent 1px),
      linear-gradient(180deg, #222 100%, #9ac1ce 0%);
    background-size: 40px 40px, cover;
    background-position: 0 0, 0 0;
    padding-bottom: 80px;
    min-height: 100vh;
  }
}

