.proj-cards-wrapper {
    text-align: center;
    padding: 80px 20px;
    position: relative;
    overflow: visible;
}

.carousel-container {
    margin-top: -20px;
}

.proj-heading {
    color: #fff;
    margin-bottom: 60px;
    margin-left: 60px;
    text-align: left;
    transition: margin 0.3s;
    margin-top: 40px;
}

.proj-cards-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
}

.project-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 530px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.project-thumbnail {
    width: 100%;
    height: 200px;
    border-radius: 2px;
    object-fit: cover;
    margin-bottom: 5px;
}

.project-title {
    font-size: 1.5rem;
    color: #3498db;
    margin-bottom: 1rem;
}

.project-description {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 1.5rem;
    text-align: justify;
    padding: 0 10px;
}

.live-link {
    outline: 2px solid #2774AE;
    color: #2774AE;
    background-color: var(--background);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 2px;
    margin-right: 15px;
    margin-top: 20px;
}

.live-link:hover {
    background-color: #1a5f8a;
    color: #fff;
}

.demo-link {
    outline: 2px solid #d35400;
    color: #d35400;
    background-color: var(--background);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 20px;
}

.demo-link:hover {
    background-color: #b04c00;
    color: #fff;
}

.skill-badge {
  display: inline-block;
  background-color: #2774AE;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 12px;
  margin: 4px 6px 0 0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
  bottom: 0;
}

.proj-cards-carousel .slick-prev,
.proj-cards-carousel .slick-next {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.proj-cards-carousel {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: opacity 0.5s ease;
    padding-left: 60px;
    padding-right: 60px;
}

.carousel-container.show {
  opacity: 1;
}

.proj-cards-carousel .slick-prev {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.proj-cards-carousel .slick-next {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.proj-cards-carousel .slick-prev:before,
.proj-cards-carousel .slick-next:before {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 768px) {
    .proj-cards-container {
        gap: 60px;
    }

    .project-card {
        max-width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .proj-cards-carousel {
        padding-left: 20px;
        padding-right: 20px;
    }

    .proj-cards-carousel .slick-prev{
        left: 0;
    }

    .proj-cards-carousel .slick-next{
        right: 0;
    }

    .project-title {
        font-size: 1.3rem;
    }

    .project-thumbnail {
        height: 180px;
    }

    .project-description {
        font-size: 1rem;
    }

    .skill-badge {
        margin: 8px 8px 0 0;
        padding: 6px 12px;
        background-color: #2774AE;
        color: white;
        border-radius: 12px;
        font-size: 0.85rem;
    }

    .live-link, .demo-link {
        font-size: 0.9rem;
        padding: 8px 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        text-decoration: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 10px auto;
    }

    .proj-heading {
        margin-left: 0;
        text-align: center;
    }

    .slick-arrow,
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}
